.row {
  margin-top: 4%;
}
.table {
  text-align: center;
}

@media (min-width: 576px) {
  html {
    margin: 0 auto;
    max-width: 500px;
    border: solid 1px black;
    border-radius: 10%;
    height: 100%;
  }
}
